name: Build CLI App

on:
  workflow_dispatch:

jobs:
  build-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore app-cli/app-cli.csproj

      - name: Build
        run: dotnet build app-cli/app-cli.csproj -c Release --no-restore
